{
  debug
}

portainer.cloud.local {
  tls internal
	reverse_proxy portainer:9000
}

sftpgo.cloud.local {
  tls internal
  reverse_proxy sftpgo:9200
}

webdav.sftpgo.cloud.local {
  tls internal
  reverse_proxy sftpgo:9400
}

baikal.cloud.local {
  tls internal
  reverse_proxy baikal:80
}

certificate.cloud.local {
  # TODO: optimize access
  root * /data/caddy/pki/authorities/local/
  file_server browse
}