{
  debug
}

portainer.cloud.local {
  tls internal
	reverse_proxy portainer:9000
}

sftpgo.cloud.local {
  tls internal
  reverse_proxy sftpgo:9200
}

webdav.sftpgo.cloud.local {
  tls internal
  reverse_proxy sftpgo:9400
}