{
  debug
}

sftpgo.cloud.local {
  tls internal
  
  handle_path /webdav* {
    reverse_proxy sftpgo:10080
  }

  handle {
    reverse_proxy sftpgo:8080
  }
}

portainer.cloud.local {
  tls internal
	reverse_proxy portainer:9000
}