$TTL    3600
$ORIGIN cloud.local.
@                    IN SOA ns.cloud.local. contact.cloud.local. (
                                             2022010101 ; serial
                                             1d         ; refresh
                                             2h         ; retry
                                             4w         ; expire
                                             1h         ; nxdomain ttl
                                            )
                     IN NS  ns.cloud.local.
@                    IN A   <HOST_IP>
*                    IN A   <HOST_IP>