version: '3.7'

services:
  coredns:
    env_file: ./.env
    build:
      context: ./coredns
      args:
        - HOST_IP=$HOST_IP
        - HOST_NAME=$HOST_NAME
    restart: always
    ports:
      - 53:53
      - 53:53/udp
    volumes:
      - coredns-config:/config

  caddy:
    env_file: ./.env
    build:
      context: ./caddy
      args:
        - HOST_IP=$HOST_IP
        - HOST_NAME=$HOST_NAME
    restart: always
    ports:
      - 443:443
    volumes:
      - caddy-data:/data
      - caddy-config:/config

  portainer:
    build: ./portainer
    restart: always
    ports:
      - 9000:9000
    volumes:
      - portainer-data:/data
      # provide host information
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sftpgo:
    build: ./sftpgo
    restart: always
    labels:
      # stop container during backup
      - docker-volume-backup.stop-during-backup=true
    ports:
      - 9200:9200
      - 9400:9400
      - 9600:9600
    volumes:
      - sftpgo-data:/srv/sftpgo/data
      - sftpgo-config:/var/lib/sftpgo
      # provide external volumes as virtual folder
      - radicale-data:/srv/sftpgo/external/radicale

  radicale:
    build:
      context: ./radicale
      args:
        # reset uid and gid to default which is
        # needed for sftpgo the access the user folder
        - BUILD_UID=1000
        - BUILD_GID=1000
    restart: always
    init: true
    labels:
      # stop container during backup
      - docker-volume-backup.stop-during-backup=true
    ports:
      - 9800:9800
    volumes:
      - radicale-data:/data
      - radicale-config:/config

  backup:
    build: ./volume-backup
    restart: always
    volumes:
      # TODO: set correct backup path here
      # - ./path/to/target:/archive
      # volumes to backup
      - sftpgo-data:/backup/sftpgo-data:ro
      - sftpgo-config:/backup/sftpgo-config:ro
      - radicale-data:/backup/radicale-data:ro
      - radicale-config:/backup/radicale-config:ro
      # provide host information
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  coredns-config:
  caddy-data:
  caddy-config:
  portainer-data:
  sftpgo-data:
  sftpgo-config:
  radicale-data:
  radicale-config:
