version: '3.7'

services:
  coredns:
    build:
      context: ./coredns
      args:
        - HOST_IP=$HOST_IP
        - HOST_NAME=$HOST_NAME
    init: true
    restart: always
    ports:
      - 53:53
      - 53:53/udp
    volumes:
      - coredns-config:/config

  caddy:
    build:
      context: ./caddy
      args:
        - HOST_IP=$HOST_IP
        - HOST_NAME=$HOST_NAME
    init: true
    restart: always
    ports:
      - 443:443
    volumes:
      - caddy-data:/data
      - caddy-config:/config

  portainer:
    build:
      context: ./portainer
    init: true
    restart: always
    ports:
      - 9000:9000
    volumes:
      - portainer-data:/data
      # provide host information
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sftpgo:
    build:
      context: ./sftpgo
    init: true
    restart: always
    group_add:
      # add radical default group for accessing the volume
      - '2999'
    labels:
      - docker-volume-backup.stop-during-backup=true
    ports:
      - 9200:9200
      - 9400:9400
      - 9600:9600
    volumes:
      - sftpgo-data:/srv/sftpgo/data
      - sftpgo-config:/var/lib/sftpgo
      # provide external volumes as virtual folder
      - radicale-data:/srv/sftpgo/external/radicale

  radicale:
    build:
      context: ./radicale
    init: true
    restart: always
    labels:
      - docker-volume-backup.stop-during-backup=true
    ports:
      - 9800:9800
    volumes:
      - radicale-data:/data
      - radicale-config:/config

  backup:
    build:
      context: ./volume-backup
    init: true
    restart: always
    volumes:
      # TODO: set backup and tmp path
      # - /path/to/backup:/archive
      # - /path/to/backup/tmp:/tmp
      # volumes to backup
      - sftpgo-data:/backup/sftpgo-data:ro
      - sftpgo-config:/backup/sftpgo-config:ro
      - radicale-data:/backup/radicale-data:ro
      - radicale-config:/backup/radicale-config:ro
      # provide host information
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  coredns-config:
  caddy-data:
  caddy-config:
  portainer-data:
  sftpgo-data:
  sftpgo-config:
  radicale-data:
  radicale-config:
