version: '3.7'

services:
  coredns:
    image: coredns/coredns:1.9.4
    restart: always
    env_file: ./.env
    # set config path
    command: ['-conf', '/etc/coredns/Corefile']
    ports:
      - 53:53
      - 53:53/udp
    volumes:
      - ./Corefile:/etc/coredns/Corefile:ro
      - ./.zone:/.zone:ro

  caddy:
    image: caddy:2.6.2
    restart: always
    env_file: ./.env
    ports:
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data
      - caddy-config:/config

  portainer:
    image: portainer/portainer-ce:2.16.2
    restart: always
    ports:
      - 9000:9000
    volumes:
      - portainer-data:/data
      # provide os information for portainer
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sftpgo:
    image: drakkan/sftpgo:v2.4.2
    restart: always
    environment:
      # https://github.com/drakkan/sftpgo/blob/main/sftpgo.json
      - SFTPGO_HTTPD__BINDINGS__0__PORT=9200
      - SFTPGO_WEBDAVD__BINDINGS__0__PORT=9400
      - SFTPGO_SFTPD__BINDINGS__0__PORT=9600
      - SFTPGO_LOADDATA_FROM=/etc/sftpgo/init/sftpgo.json
    ports:
      - 9200:9200
      - 9400:9400
      - 9600:9600
    volumes:
      - ./sftpgo.json:/etc/sftpgo/init/sftpgo.json:ro
      - sftpgo-data:/srv/sftpgo/data
      - sftpgo-config:/var/lib/sftpgo
      # share external radicale data with sftpgo which can be
      # assigned as a virtual folder to each individual user
      - radicale-data:/srv/sftpgo/external/radicale

  # TODO: enable radicale authentication for better security
  # by default nothing is checked
  radicale:
    image: tomsquest/docker-radicale:3.1.8.0
    restart: always
    init: true
    ports:
      - 9800:5232
    volumes:
      - radicale-data:/data/collections/collection-root

  # TODO: docker volume backup strategy
  # https://github.com/jareware/docker-volume-backup
  # https://github.com/blacklabelops/volumerize
  # or something else using rsync incremental backups?

volumes:
  caddy-data:
  caddy-config:
  portainer-data:
  sftpgo-data:
  sftpgo-config:
  radicale-data:
