version: '3.7'

services:
  coredns:
    image: coredns/coredns:1.9.4
    restart: always
    # set config path
    command: ['-conf', '/etc/coredns/Corefile']
    ports:
      - 53:53
      - 53:53/udp
    volumes:
      - ./Corefile:/etc/coredns/Corefile:ro
      - ./db.self-cloud.com:/db.self-cloud.com:ro

  caddy:
    image: caddy:2.6.2
    restart: always
    ports:
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config

  portainer:
    image: portainer/portainer-ce:2.16.2
    restart: always
    ports:
      - 9000:9000
    volumes:
      - portainer_data:/data
      # provide os information for portainer
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sftpgo:
    image: drakkan/sftpgo:v2.4.2
    restart: always
    environment:
      # https://github.com/drakkan/sftpgo/blob/main/sftpgo.json
      - SFTPGO_HTTPD__BINDINGS__0__PORT=9200
      - SFTPGO_WEBDAVD__BINDINGS__0__PORT=9400
      - SFTPGO_SFTPD__BINDINGS__0__PORT=9600
    ports:
      - 9200:9200
      - 9400:9400
      - 9600:9600
    volumes:
      - sftpgo_data:/srv/sftpgo/data
      - sftpgo_config:/var/lib/sftpgo

  baikal:
    image: ckulka/baikal:0.9.3
    restart: always
    ports:
      - 9800:80
    volumes:
      - baikal_data:/var/www/baikal/Specific
      - baikal_config:/var/www/baikal/config

  # TODO: add docker-volume-backup
  # https://github.com/jareware/docker-volume-backup
  # or add volumerize
  # https://github.com/blacklabelops/volumerize

volumes:
  caddy_data:
  caddy_config:
  portainer_data:
  sftpgo_data:
  sftpgo_config:
  baikal_data:
  baikal_config:
