version: '3.7'

services:
  coredns:
    image: coredns/coredns:1.9.4
    restart: always
    # set config path
    command: ['-conf', '/etc/coredns/Corefile']
    ports:
      - 53:53
      - 53:53/udp
    volumes:
      - ./Corefile:/etc/coredns/Corefile:ro
      - ./db.cloud.local:/db.cloud.local:ro

  caddy:
    image: caddy:2.6.2
    restart: always
    ports:
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_config:/config
      - caddy_data:/data

  portainer:
    image: portainer/portainer-ce:2.16.2
    restart: always
    ports:
      - 9000:9000
    volumes:
      - portainer_data:/data
      # provide os information for portainer
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sftpgo:
    image: drakkan/sftpgo:v2.4.2
    restart: always
    env_file:
      - ./.env
    ports:
      - 9200:9200
      - 9400:9400
      - 9600:9600
    volumes:
      - ./sftpgo_config:/var/lib/sftpgo
      - ./data/sftpgo/:/srv/sftpgo

  radicale:
    image: tomsquest/docker-radicale:3.1.8.0
    restart: always
    init: true
    ports:
      - 9800:5232
    volumes:
      - ./data/radicale:/data/collections/collection-root

volumes:
  caddy_config:
  caddy_data:
  portainer_data:
  sftpgo_config:
