${DIFFERENTIAL_BACKUP_CRON} /bin/sh -c "/usr/local/bin/differential-backup.sh"
${FULL_BACKUP_CRON} /bin/sh -c "/usr/local/bin/full-backup.sh"
${REMOTE_BACKUP_CRON} /bin/sh -c "/usr/local/bin/remote-backup.sh"